
.FiltrosMobile {
	display          : grid;
	margin-bottom    : 20px;
	padding          : 10px 0;
	background-color : #fff;
	text-align       : center;
	align-items      : center;
	justify-content  : center;
}
.MenuFiltros {
	h5, i {
		display : inline-block;
	}
	h5 {
		margin-right  : 8px;
		margin-bottom : 0;
		color         : $blue_light;
	}
	.iconTriangleBase {
		position     : relative;
		top          : -2px;
		height       : 0px;
		width        : 0px;
		cursor       : pointer;
		border-style : solid;
	}
	.iconTriangleUp {
		@extend .iconTriangleBase;
		border-color : transparent transparent $blue_light transparent;
		border-width : 0px 6px 6px 6px;
		&:hover {
			border-color : transparent transparent $oragen transparent;
		}
	}
	.iconTriangleDown {
		@extend .iconTriangleBase;
		border-color : $blue_light transparent transparent transparent;;
		border-width : 6px 6px 0 6px;
		&:hover {
			border-color : $oragen transparent transparent transparent;
		}
	}
}