.Widget {
	h5 {
		margin-bottom: 0;
	}
	.SpaceBox {
		padding: 10px;
	}
}
.Line {
	height: 6px;
	width: 100%;
	display: block;
	background-color: $gray_light;
	box-shadow: inset 0px -1px 3px 0px rgba(0,0,0,0.05);
}