
:global {
	.Icon {
		display           : inline-block;
		height            : 22px;
		width             : 22px;
		margin-right      : 8px;
	}
	.bathrobes {
		@extend .Icon;
		background: url(./assets/icons/amenities/bathrobes.svg?fill=#{$gray_dark}) no-repeat;
	}
	.bathtub {
		@extend .Icon;
		background: url(./assets/icons/amenities/bathtub.svg?fill=#{$gray_dark}) no-repeat;
	}
	.beach-pool-facilities {
		@extend .Icon;
		background: url(./assets/icons/amenities/beach-pool-facilities.svg?fill=#{$gray_dark}) no-repeat;
	}
	.beach {
		@extend .Icon;
		background: url(./assets/icons/amenities/beach.svg?fill=#{$gray_dark}) no-repeat;
	}
	.business-center {
		@extend .Icon;
		background: url(./assets/icons/amenities/business-center.svg?fill=#{$gray_dark}) no-repeat;
	}
	.children-club {
		@extend .Icon;
		background: url(./assets/icons/amenities/children-club.svg?fill=#{$gray_dark}) no-repeat;
	}
	.coffe-maker {
		@extend .Icon;
		background: url(./assets/icons/amenities/coffe-maker.svg?fill=#{$gray_dark}) no-repeat;
	}
	.deep-soaking-bathtub {
		@extend .Icon;
		background: url(./assets/icons/amenities/deep-soaking-bathtub.svg?fill=#{$gray_dark}) no-repeat;
	}
	.fitness-center {
		@extend .Icon;
		background: url(./assets/icons/amenities/fitness-center.svg?fill=#{$gray_dark}) no-repeat;
	}
	.garden {
		@extend .Icon;
		background: url(./assets/icons/amenities/garden.svg?fill=#{$gray_dark}) no-repeat;
	}
	.kitchen-facilities {
		@extend .Icon;
		background: url(./assets/icons/amenities/kitchen-facilities.svg?fill=#{$gray_dark}) no-repeat;
	}
	.newspaper {
		@extend .Icon;
		background: url(./assets/icons/amenities/newspaper.svg?fill=#{$gray_dark}) no-repeat;
	}
	.nightclub {
		@extend .Icon;
		background: url(./assets/icons/amenities/nightclub.svg?fill=#{$gray_dark}) no-repeat;
	}
	.restaurant {
		@extend .Icon;
		background: url(./assets/icons/amenities/restaurant.svg?fill=#{$gray_dark}) no-repeat;
	}
	.safety-box {
		@extend .Icon;
		background: url(./assets/icons/amenities/safety-box.svg?fill=#{$gray_dark}) no-repeat;
	}
	.separate-bredroom {
		@extend .Icon;
		background: url(./assets/icons/amenities/separate-bredroom.svg?fill=#{$gray_dark}) no-repeat;
	}
	.sheets {
		@extend .Icon;
		background: url(./assets/icons/amenities/sheets.svg?fill=#{$gray_dark}) no-repeat;
	}
}